<h1>Personas</h1>
<hr>
<div class="row">
    <div class="col-md-12 text-right">
        <button [routerLink]="['/person','nuevo' ]" class="btn btn-outline-success">
            Nueva Persona
          </button>
    </div>
</div>
<br>
<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">

            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Persona</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of people | keys; let i = index">
                        <td>{{ i + 1}}</td>
                        <td>{{ people[item].name }}</td>
                        <td>
                            <button [routerLink]="['/person',people[item].id]" type="button" class="btn btn-outline-success">Editar</button>
                            <button (click)="deletePerson(people[item].id, i)" type="button" class="btn btn-outline-danger ml-1">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>